

<div class="row">
  <div class="col s12">
    <h3> User GET requests </h3>
    <code>/api/users</code>: Access all users<br>
    <code>/api/users/:id</code>: Access user at ID<br>
    <h5> Sample response </h5>
    <p> { <br>
      id: <span class="value">16 </span>,<br>
      name: <span class="value"> "John Doe"</span>,<br>
      email: <span class="value"> "jdoe@email.com"</span>,<br>
    }</p>
  </div>
  <div class="col s12">
    <h3> User POST requests </h3>
    POST <code>/api/users</code>: Add new user<br>
    Acceptable Params:
    <p> { <br>
      user[name]: <span class="value">Name of User </span>,<br>
      user[email]: <span class="value"> Email of User</span>,<br>
      user[password]: <span class="value"> ********* </span>,<br>
      user[password_confirmation]: <span class="value"> ********* </span>,<br>
    }</p>
  </div>
  <div class="col s12">
    <h3> User PUT requests </h3>
    PUT<code>/api/users/:id</code>: Edits user at given ID(hamburger place)<br>
    Acceptable Params:
    <p> { <br>
      user[name]: <span class="value">Name of User </span>,<br>
      user[email]: <span class="value"> Email of User</span>,<br>
      user[password]: <span class="value"> ********* </span>,<br>
      user[password_confirmation]: <span class="value"> ********* </span>,<br>
    }</p>
  </div>
  <div class="col s12">
    <h3> User DELETE requests </h3>
    DELETE<code>/api/users/:id</code>: Deletes user at given ID(hamburger place)<br>
  </div>
</div>
<hr/>
