<div class="row">
  <h3> Vote (hamburger) PUT requests </h3>
  PUT<code>/api/posts/:id/vote</code>: Add's vote to post at given ID(hamburger place)<br>
  Acceptable Params:
  <p> { <br>
    vote[user_id]: <span class="value">User ID </span>,<br>
  }</p>
  <hr/>
</div>
