<h1> Using BBA API </h1>

<div class="row">
  <code>/admin</code>: Access Admin Console
</div>

<div class="row">
  <code>/api/posts</code>: Access first page of posts (hamburgers)
</div>

<div class="row">
  <code>/api/posts?page=2</code>: Access page by params (hamburgers)
</div>

<div class="row">
  POST <code>/api/posts</code>: Add new post (hamburger place)<br>
  Acceptable Params:
  <li>post[title]</li>
  <li>post[description] </li>
  <li>post[location] </li>
  <li>post[pic] </li>
  <li>post[user_id] </li>
</div>

<div class="row">
  PUT<code>/api/posts/:id</code>: Edits post at given ID(hamburger place)<br>
  Acceptable Params:
  <li>post[title]</li>
  <li>post[description] </li>
  <li>post[location] </li>
  <li>post[pic] </li>
  <li>post[user_id] </li>
</div>

<div class="row">
  DELETE<code>/api/posts/:id</code>: Deletes post at given ID(hamburger place)<br>
</div>

<div class="row">
  PUT<code>/api/posts/:id/vote</code>: Add's vote to post at given ID(hamburger place)<br>
  Acceptable Params:
  <li>vote[user_id]</li>
</div>
